<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<fieldset>
				<legend> Please enter your details </legend>
				<%= render 'form' %>
			</fieldset>
		</div>
		<div class="col-md-2"></div>
	</div>	
</div>